<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/style.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
</head>

<body>
	{{#category}}
	<nav>
		<a href='/'>home</a> |
		<a href='/subscriptions/categories/{{id}}'>subscribe</a> |
		<a href='/subscriptions/unsubscribe'>unsubscribe</a>
	</nav>

	<div class="header">
		<h1>whatchu think about...</h1><h3 class="title">{{title}}?</h3>
	</div>

	<div class="add">
		<h2>{{description}}</h2>
		<p><strong>posted by {{user_name}} on {{date}}</strong></p>
		<p>
			<a class="upvote" href="/categories/{{id}}/{{current_page}}/upvote"><img class="vote" src="../../../images/lightbulb.png"></a>
			<a class="downvote" href="/categories/{{id}}/{{current_page}}/downvote"><img class="vote" src="../../../images/downvote.png"></a>
			wattage: {{vote_total}}
		</p>
		<a href='/subscriptions/categories/{{id}}'>subscribe to {{title}}!</a>
	</div>

	<div> 
		<h2>all thoughts on {{title}}</h2>
		<h3></h3>
		{{/category}}
		{{#pagination}}
		<ul>
			<li><a href='/posts/{{id}}'>{{title}}</a></li>
		</ul>
		{{/pagination}}
		{{#category}}
		<div class="page">
		<a href ='/{{title}}/posts'>add your thought</a>
		{{#next_page}}
			| <a href='/categories/{{id}}/{{next_page}}'>next page</a>
		{{/next_page}}
		{{#previous_page}}
			| <a href='/categories/{{id}}/{{previous_page}}'>previous page</a>
		{{/previous_page}}
		</div>
	</div>
	
	{{^posts}}
	<div>
		<p>apparently, nobody else thinks about this topic.</p>
		<form method="POST" action="/categories/{{id}}">
		<input type="hidden" name="_method" value="DELETE">
		<button>delete it!</button>
		</form>
	</div>
	{{/posts}}
	{{/category}}
	<footer>
		<p id="copy">whatchu think about? &copy; 2014</p>
	</footer>
</body>
</html>