<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
</head>

<body>
	{{#category}}
	<div>
		<h1>whatchu think about <br>{{title}}?</h1>
		<h2>{{description}}</h2>
		<h3>posted by {{user_name}} on {{date_added}}</h3>
	</div>

	<div>
		<a href="/categories/{{id}}/upvote"><img width=5% src="http://images.clipartpanda.com/light-bulb-idea-icon-Educator-Effectiveness-Tag_Icon_2881x1401_bw.jpg"></a>
		<a href="/categories/{{id}}/downvote">downvote</a>
		<p>wattage: {{vote_total}}</p>
		<a href='/subscriptions/categories/{{id}}'>subscribe</a>
		<a href ='/categories/{{title}}/posts'>add your thoughts</a>
	</div>

	<div> 
		<h2>all thoughts on {{title}}</h2>
		{{/category}}
		{{#posts}}
		<ul>
			<li><a href='/posts/{{id}}'>{{title}}</a></li>
		</ul>
		{{/posts}}
	</div>
	
	{{#category}}
	{{^posts}}
	<div>
		<h3>apparently, nobody thinks about this topic.</h3>
		<form method="POST" action="/categories/{{id}}">
		<input type="hidden" name="_method" value="DELETE">
		<button>delete it!</button>
		</form>
	</div>
	{{/posts}}
	{{/category}}

	<a href='/'>home</a>
</body>
</html>