<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="header">
		<h1>whatchu think about?</h1>
		<h3 class="title">a penny for your thoughts</h3>
	</div>
	<div class="add"> 
		<h2>add a topic</h2>
		<form method='POST' action='/categories'>
			<label>topic title
				<input type='text' name='title'/>
			</label>
			<br><br>
			<label>topic description
				<input type='text' name='description'/>
			</label>
			<br><br>
			<label>your name
				<input type='text' name='user_name'>
			</label>
			<button>submit your topic</button>
		</form>
	</div>

	<div>
		<h2>all topics</h2> 
		{{#categories}}
		<ul>
			<li><a href='/categories/{{id}}/1'>{{title}}</a></li>
		</ul>
		{{/categories}}
	</div>
	<footer>
		<p id="copy">whatchu think about? &copy; 2014</p>
	</footer>
</body>

</html>