<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="header">
		{{#category}}
		<h1>whatchu think about</h1>
		<h3 class="title">{{title}}?</h3>
	</div>

	<div class="add">
		<h2>add your thought</h2>
		<form id="new_post" method='POST' action='/{{title}}/posts'>
			<label>your name
				<input type='text' name='user_name'/>
			</label>
			<br><br>
			<label>title your thought
				<input type='text' name='post_title'/>
			</label>
			<br><br>
			<label>your thought bubble will burst on 
				<input type='date' name='expiration_date'>
			</label>
			<br><br>
			<textarea rows="4" cols="50" name="content" form="new_post" placeholder="your thought"></textarea>
			<button>submit your thought</button>
		</form>
	</div>


	<div>
		<a href='/categories/{{id}}/1'>cancel</a>
		<a href='/'>home</a>
	</div>
	{{/category}}
	
</body>
</html>