<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="header">
		<h1>whatchu think about?</h1>
		<h3 class="title">uh-oh, spaghettio-s</h3>
	</div>

	<nav>
		<a href='/'>home</a>
	</nav>
	
	<div class="add"> 
		<h2>there was a problem with your subscription. try again!</h2>
	</div>

	<footer>
		<p id="copy">whatchu think about? &copy; 2014</p>
	</footer>
</body>

</html>