<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
</head>

<body>
	{{#category}}
	<nav>
		<a href='/'>home</a> |
		<a href='/categories/{{id}}/1'>back</a>
	</nav>

	<div class="header">
		<h1>whatchu think about</h1>
		<h3 class="title">{{title}}?</h3>
	</div>
	{{/category}}

	{{#post}}
	<div class="add">
		<h2>{{title}}</h2>
		<p id="post">{{{rendered_content}}}</p>
		<p>thought by {{user_name}} on {{post_date}}</p>
		<p>
			<a class="upvote" href="/posts/{{id}}/upvote"><img class="vote" src="../../../images/lightbulb.png"></a>
			<a class="downvote" href="/posts/{{id}}/downvote"><img class="vote" src="../../../images/downvote.png"></a>
			wattage: {{vote_total}}
		</p>
		<a href='/subscriptions/posts/{{id}}'>subscribe to {{title}}!</a>
	</div>

	<div>
		<h2>bubbles about {{title}}</h2>
		{{/post}}
		{{#comments}}
		<div id="bubble">
			<p>{{comment}}</p>
		</div>
		<p>bubble by {{user_name}} on {{date_added}}</p>
		<p>
			<a class="upvote" href="/comments/{{id}}/upvote"><img class="vote" src="../../../images/lightbulb.png"></a>
			<a class="downvote" href="/comments/{{id}}/downvote"><img class="vote" src="../../../images/downvote.png"></a>
			wattage: {{vote_total}}
		</p>
		{{/comments}}
	</div>
	<br>
	{{#post}}

	{{^expired}}
	<div class="add">
		<h2>add a bubble</h2>
		<form method='POST' action='/posts/{{title}}/comments'>
			<label>your name
				<input type='text' name='user_name'/>
			</label>
			<br><br>
			<label>your bubble
				<input type='text' name='comment'/>
			</label>
			<br><br>
			<button>submit your bubble</button>
		</form>
	</div>
	<br>
	{{/expired}}	
	{{/post}}
	<footer>
		<p id="copy">whatchu think about? &copy; 2014</p>
	</footer>
</body>
</html>