<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>whatchu think about?</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
</head>

<body>
	{{#category}}	
	<div>
		<h1>subscribe to learn whatchu and others think about<br>{{title}}!</h1>
		<h2>receive sms and email updates</h2>
	</div>

	<div>
		<h2>tell us about yourself</h2>
		<form method='POST' action='/subscriptions/categories/{{id}}'>
			<label>your first name
				<input type='text' name='first_name'/>
			</label>
			<br><br>
			<label>your last name
				<input type='text' name='last_name'/>
			</label>
			<br><br>
			<label>your email address
				<input type='email' name='email'>
			</label>
			<br><br>
			<label>your phone number
				<input type='tel' name='phone'>
			</label>
			<br><br>
			<button>subscribe</button>
		</form>
		<div>
			<a href='/categories/{{id}}'>cancel</a>
		</div>
	{{/category}}

	{{#post}}
	<div>
		<h1>subscribe to learn whatchu and others think about<br>{{title}}!</h1>
		<h2>receive sms and email updates</h2>
	</div>

	<div>
		<h2>tell us about yourself</h2>
		<form method='POST' action='/subscriptions/posts/{{id}}'>
			<label>your first name
				<input type='text' name='first_name'/>
			</label>
			<br><br>
			<label>your last name
				<input type='text' name='last_name'/>
			</label>
			<br><br>
			<label>your email address
				<input type='email' name='email'>
			</label>
			<br><br>
			<label>your phone number
				<input type='tel' name='phone'>
			</label>
			<br><br>
			<button>subscribe</button>
		</form>
		<div>
			<a href='/posts/{{id}}'>cancel</a>
		</div>
		{{/post}}
	</div>

	
</body>
</html>